<h1>Admin#dashboard</h1>
<table>
  <th>State ID</th>
  <th>State Name</th>
  <th>City Name</th>
  <tr>
    <td><span>15</span></td>
    <td><span><a href="states/1">California</a></span></td>
    <td><span>Mountain View</span></td>
  </tr>
  <tr>
    <td><span>14</span></td>
    <td><span><a href="states/1">California</a></span></td>
    <td><span>Burlingame</span></td>
  </tr>
  <tr>
    <td><span>12</span></td>
    <td><span><a href="states/2">New York</a></span></td>
    <td><span>Brooklyn</span></td>
  </tr>
</table>
